/* main navbar */
/* ------------------------- */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* top right bottom left */
    padding: 5rem 9rem 0rem 8rem;
}

/* navbar logo div and img */
/* ------------------------- */

.navbar-logo img {
    display: block;
    height: 73.7px;
}

/* navbar links */
/* ------------------------- */

.navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* navbar links container -- holds Menu component */
/* ------------------------- */

.navbar-links-container {
    display: flex;
    flex-direction: row;
}

/* navbar links container -- holds Menu component, and  */
/* ------------------------- */

.navbar-links-container p,
.navbar-menu-links-container p  {
    /* deals with actual navbar links */
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
}

/* Connect wallet button */
/* ------------------------- */

.connect-wallet button {
   padding: 0.5rem 1rem;
   color: #fff;
   background: #FF4820;
   font-family: var(--font-family);
   font-weight: 500;
   font-size: 18px;
   line-height: 25px;
   border: none;
   outline: none;
   cursor: pointer;
   border-radius: 5px;
}

/* navbar-menu, 3 line icon for small width devices and holds required logic */
/* ------------------------- */

.navbar-menu {
    display: none; /* not displayed at full width */
    margin-right: -1rem;
    position: relative;
}

/* navbar menu icon svg */
/* ------------------------- */

.navbar-menu svg {
    cursor: pointer;
}

/* navbar menu container holding links in drop down menu */
/* ------------------------- */

.navbar-menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    
    text-align: end;
    background: var(--color-footer);
    padding: 1.5rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 0.5rem;
    min-width: 75px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
}

.navbar-menu-container p {
    margin: 0rem 0;
}


@media screen and (max-width: 1050px) {

    /* smaller laptop - remove links and show dropdown menu */
    .navbar-links-container {
        display: none;
    }

    .navbar-menu {
        display: flex;
        flex-direction: column;
    }

    .connect-wallet button {
        display: none;
    }
    
}

/* @media screen and (max-width: 700px) {
    .navbar {
        padding: 2rem 4rem;
    }
} */

@media screen and (max-width: 550px) {
    /* phone settings */

    .navbar {
        /* top right bottom left */
        padding: 1rem 2rem 0.5rem 2rem;
    }

    .navbar-logo img {
        display: block;
        height: 50px;
    }

    .navbar-menu {
        margin-top: 1.5rem;
    }

    .navbar-menu-container {
        top: 50px;
    }

}
